body {
  background-color: rgb(240, 240, 240);
}

.todo-box {
  display: flex;
  flex-direction: column;
  background-color: white;
  align-items: center;
  margin: auto;
  width: 25%;
  margin-top: 25px;
  padding: 20px;
  box-shadow: 
    /* The first layer shadow */
      0 1px 1px rgba(0,0,0,0.15),
        /* The second layer */
      0 10px 0 -5px #eee,
        /* The second layer shadow */
      0 10px 1px -4px rgba(0,0,0,0.15),
        /* The third layer */
      0 20px 0 -10px #eee,
        /* The third layer shadow */
      0 20px 1px -9px rgba(0,0,0,0.15);
}

input[type=checkbox] {
  margin-right: 10px;
}

.todo-item {
  display: flex;
  justify-content: flex-start;
  padding: 30px 20px 0;
  display: flex;
  width: 70%;
  align-items: center;
  border-bottom: 1px solid rgb(182, 182, 182);
}